---
ansible_user: ${SFOS_USERNAME}
ansible_host: ${SFOS_HOSTNAME}
ansible_password: ${SFOS_PASSWORD}
ansible_httpapi_validate_certs: false
ansible_httpapi_port: 4444
ansible_connection: ansible.netcommon.httpapi
ansible_network_os: sophos.sophos_firewall.sfos